body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
  }
  
  .display {
    width: 100%;
    background: #222;
    color: #0f0;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  @font-face {
    font-family: MOSCOW2024;
    src: url(fonts/MOSCOW2024.otf);
  }

  #indicator {
    background-color: #222; /* Цвет фона */
    color: #0f0; /* Цвет текста */
    font-size: 2rem; /* Размер текста */
    text-align: right; /* Выравнивание текста по левому краю */
    padding: 10px; /* Внутренний отступ для удобства чтения */
    border: 1px solid #222; /* Рамка */
    font-family: MOSCOW2024;
    border-radius: 5px; /* Закругление углов */
    width: 100%; /* Ширина индикатора */
    height: 50px; /* Высота индикатора */
    box-sizing: border-box; /* Включаем padding в размеры */
    overflow: hidden; /* Скрываем текст, который не помещается */
  }
  
  
  .keyboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 кнопок в строке */
    gap: 10px; /* Отступы между кнопками */
    width: 100%;
  }
  
  .btn {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
  }

  .span-2 {
    grid-column: span 2; /* Заставляет кнопку занимать две колонки */
  }
  .span-21 {
    grid-row: span 2; /* Заставляет кнопку занимать две колонки */
  }
    
  
  .btn:hover {
    background: #0056b3;
  }
  
  .btn:active {
    background: #003f7f;
  }
  